<config>
    <modules>
        <Bluecom_AddStepCheckout>
            <version>0.1.0</version>
        </Bluecom_AddStepCheckout>
    </modules>
    <global>
        <blocks>
            <bluecom_addstepcheckout>
                <class>Bluecom_AddStepCheckout_Block</class>
            </bluecom_addstepcheckout>
            <checkout>
                <rewrite>
                    <onepage>Bluecom_AddStepCheckout_Block_Checkout_Onepage</onepage>
                </rewrite>
            </checkout>
        </blocks>
        <models>
            <sales>
                <rewrite>
                    <order>Bluecom_AddStepCheckout_Model_Sales_Order</order>
                </rewrite>
            </sales>
            <checkout>
                <rewrite>
                    <type_onepage>Bluecom_AddStepCheckout_Model_Checkout_Type_Onepage</type_onepage>
                </rewrite>
            </checkout>
            <addstepcheckout>
                <class>Bluecom_AddStepCheckout_Model</class>
                <resourceModel>addstepcheckout_mysql4</resourceModel>
            </addstepcheckout>
            <addstepcheckout_mysql4>
                <class>Bluecom_AddStepCheckout_Model_Mysql4</class>
                <entities>
                    <custom_quote>
                        <table>sales_quote_custom</table>
                    </custom_quote>
                    <custom_order>
                        <table>sales_order_custom</table>
                    </custom_order>
                </entities>
            </addstepcheckout_mysql4>
        </models>
        <helpers>
            <samples>
                <class>Bluecom_AddStepCheckout_Helper</class>
            </samples>
        </helpers>
        <events>
            <sales_quote_save_before>
                <observers>
                    <save_before>
                        <type>singleton</type>
                        <class>Bluecom_AddStepCheckout_Model_Observer</class>
                        <method>saveQuoteBefore</method>
                    </save_before>
                </observers>
            </sales_quote_save_before>
            <sales_quote_save_after>
                <observers>
                    <save_after>
                        <type>singleton</type>
                        <class>Bluecom_AddStepCheckout_Model_Observer</class>
                        <method>saveQuoteAfter</method>
                    </save_after>
                </observers>
            </sales_quote_save_after>
            <sales_quote_load_after>
                <observers>
                    <load_after>
                        <type>singleton</type>
                        <class>Bluecom_AddStepCheckout_Model_Observer</class>
                        <method>loadQuoteAfter</method>
                    </load_after>
                </observers>
            </sales_quote_load_after>
            <sales_model_service_quote_submit_after>
                <observers>
                    <sales_model_service_quote_submit_after>
                        <type>singleton</type>
                        <class>Bluecom_AddStepCheckout_Model_Observer</class>
                        <method>saveOrderAfter</method>
                    </sales_model_service_quote_submit_after>
                </observers>
            </sales_model_service_quote_submit_after>
            <sales_order_load_after>
                <observers>
                    <sales_order_load_after>
                        <type>singleton</type>
                        <class>Bluecom_AddStepCheckout_Model_Observer</class>
                        <method>loadOrderAfter</method>
                    </sales_order_load_after>
                </observers>
            </sales_order_load_after>
        </events>
        <resources>
            <addstepcheckout_setup>
                <setup>
                    <module>Bluecom_AddStepCheckout</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </addstepcheckout_setup>
            <addstepcheckout_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </addstepcheckout_write>
            <addstepcheckout_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </addstepcheckout_read>
        </resources>
    </global>
    <frontend>
        <routers>
            <bluecom_addstepcheckout>
                <use>standard</use>
                <args>
                    <module>Bluecom_AddStepCheckout</module>
                    <frontName>addstepcheckout</frontName>
                </args>
            </bluecom_addstepcheckout>
            <checkout>
                <args>
                    <modules>
                        <bluecom_addstepcheckout before="Mage_Checkout">Bluecom_AddStepCheckout</bluecom_addstepcheckout>
                    </modules>
                </args>
            </checkout>
        </routers>
        <layout>
            <updates>
                <bluecom_addstepcheckout>
                    <file>addstepcheckout.xml</file>
                </bluecom_addstepcheckout>
            </updates>
        </layout>
    </frontend>
</config>